<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- MATERIALIZECSS -->

  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

  <title>Login</title>
</head>
<script type="text/javascript" src="js/materialize.min.js"></script>
<body>

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">Sign in</h1>
      <br><br>
      <div class="row center">
        <form method="POST">
          <button id="download-button" class="btn-large waves-effect waves-light orange" type="submit">Sign in with Google</button>
        </form>
      
      </div>
      <!-- <div class="row center">
        <a href="#" id="download-button" class="btn-large waves-effect waves-light orange">Sign in with Email</a>
      </div> -->
  
  <!-- <script src="js/firebaseAuth.js"></script> -->
  
</body>
</html>