<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Practice Diary</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">
</head>
<script type="text/javascript" src="js/materialize.min.js"></script>
<body>


  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 25%">
      <h1>Practice Diary</h1>
      
      <!-- TODO: EJS tags and display username -->
      <h4>Hello USER</h4>
        <br>
        <h2>DO UR PRACTICE</h2>
          <form action="/practiceDiary" method="POST">
            <button class="button-primary," type="submit">Gone dun my practice!</button>
          </form>
      </div>
    </div>
  </div>

</body>
</html>